{
  "root": true,
  "env": {
    "es2022": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "project": "./tsconfig.json",
  },
  "plugins": [
    "@typescript-eslint",
  ],
  "extends": [
    "plugin:unicorn/all",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
  ],
  "globals": {
    "Vue": "readable"
  },
}
